.h1{
    font-size:100px;
}

.Header { 
    align-items: center;
    display: flex;
    font-size:20px; 
    justify-content:flex-end;
    padding: 25px 25px;
}
.HeaderNav{

}

.Header a {
    color:#1d2410;
    text-decoration: none;
    margin-right: 15px;
}

.Header a:hover{
    text-decoration:line-through;
    cursor:pointer;
}

.postcreation{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 20px double #1d2410;
    border-radius: 8px; 
    gap: 20px;
  
    padding: 20px; 
}

.loginWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }


.input{
    background-color: tan; 
    border: 6px double #D27D2D; 
    border-radius: 8px;
    height: 40px; 
    padding: 10px; 
    width: 400px; 
}

.button{
   background-color: tan;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   width:100px;
}
.button:hover{
    background-color:#1d2410;
    border-color:#D27D2D; 
}

.userProfileCardStyle{
 font: size 20px;
}

.loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.createuserForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
 
.PostCardContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .ImageContainer {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PostCard {
    align-items:center;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 25px;
    width: 800px;
  }

  .mapimg{
    bottom: 0;
    height: auto;
    right: 0;
    position:fixed;
    width: 400px;
  
}
  